<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <%= stylesheet_link_tag    "settings/application", media: "all" %>
  <%= javascript_include_tag "settings/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
